/* Home.css */

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 20px;
    margin-left: 20px;
  }
  
  .card > div {
    max-width: 235px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin: 5px 0;
  }
  
  .card h4 {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .card h5 {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
  }
/* Home.css */

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust the height based on your design */
  }
  
  .button-medium {
    background-color: #3498db; /* Replace with your desired color */
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem; /* Adjust the font size based on your design */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  